@model IEnumerable<weptintuc.Models.LOAI_TIN>




@foreach(var item in Model)
{
    <li><span class="border-bottom"></span>
        <a href="@Url.Action("Tintheochude", "Home", new { id = item.MA_LOAI_TT })">
            @item.TEN_LOAI_TT
        </a>
    </li>
}
